cloudpickle<=3.1.0
coverage==7.6.3
h5py<3.13.0
karabo-bridge==0.7.0
msgpack<=1.1.0
msgpack-numpy==0.4.8
numpy<2.2.0
pandas<2.3.0
Pillow<11.1.0
psutil==6.1.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.2.0
six==1.16.0
xarray<2024.10.0
