cloudpickle<=3.1.2
coverage==7.13.1
h5py<3.16.0
karabo-bridge==0.7.0
msgpack<=1.1.2
msgpack-numpy==0.4.8
numpy<2.5.0
pandas<3.1.0
Pillow<12.2.0
psutil==7.2.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.1.0
six==1.17.0
xarray<2025.13.0
