cloudpickle==2.2.1
coverage==6.2
h5py<3.10.0
karabo-bridge==0.7.0
msgpack==1.0.5
msgpack-numpy==0.4.8
numpy<1.26.0
pandas<2.2.0
Pillow<10.1.0
psutil==5.9.5
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.1
six==1.16.0
xarray<2023.9.0
